*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}
:root{
    --text-color:#fff;
    --bg-color: #000;
    --main-color: #ffa343;
    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;

}
body{
    color: var(--text-color);
    background: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}
.logo{
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
}